@charset="utf-8";
	body{
	background-color:black;
	}
@media only screen and (min-width:1024px)
{
#headstrong{
	width:100%;
	margin-left:0%;
	margin-top:8%;
	min-width:800px;
}#aboutbutton{
	position:absolute;
	width:5%;
	margin-top:3%;
	margin-left:37.5%;
}
#downbutton{
	position:absolute;
	margin-left:47.5%;
	width:5%;
	margin-top:3%;
}
#workbutton{
	position:absolute;
	width:5%;
	margin-top:3%;
	margin-left:57.5%;
}
#downbutton2{
	margin-left:47.5%;
	width:5%;
	margin-top:75%;
}
.bf{
	position:absolute;
	width:20%;
	margin-top:35%;
	margin-left:10%;
	margin-bottom:5%;
}
#bf{
	position:absolute;
	width:100%;
}
a{
	color:white;
	font-family:Microsoft YaHei;
	font-weight:bold;
	text-align:center;
}
.bf:hover #bftext{
	display:block;
}
#bftext {
	margin-top:0px;
	display:none;
}
#bftext{
position:absolute;
	background-color:rgba(0,0,0,0.7);
	padding:40% 27% 40% 28%;
}

#me{
	position:absolute;
	width:100%;}
.me{
	position:absolute;
	width:20%;
	margin-top:35%;
	margin-left:40%;
	margin-right:40%;
	margin-bottom:5%;
}
#metext{
	margin-top:0px;
	display:none;
}
.me:hover #metext{
	display:block;
}
#metext{
	position:absolute;
	background-color:rgba(0,0,0,0.7);
padding:60% 38% 72% 38%;
font-size:100%;	
}
#swbf{
	position:absolute;
	width:100%;
	}
.swbf{
	position:absolute;
	width:20%;
	margin-top:35%;
	margin-right:10%;
	margin-left:70%;
	margin-bottom:5%;
}
#swbftext{
	position:absolute;
	display:none;
}

.swbf:hover #swbftext{
	display:block;
}
#swbftext{
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	padding:60% 33% 59% 33.9%;
}
audio{
	width:20%;
	position:fixed;
}
#ealogo{
	position:absolute;
	margin:36% 0 0 70%;
	width:10%;
}
#dicelogo{
	position:absolute;
	margin:36% 0 0 82%;
	width:15%;
}
video{
	position:absolute;
	width:60%;
	margin-left:20%;
	margin-top:0%;
}
#ad{
	display:block;
	margin-top:30%;
	color:white;
	font-size:200%;
	font-family:arial bold;
	text-align:center;
}
}
@media only screen and (max-width:1023px)
{
#headstrong{
width:100%;
margin-left:5%;
margin-top:8%;
min-width:800px;
}
#downbutton{
	margin-left:47.5%;
	width:5%;
	margin-top:15%;
	display:none;
}
#downbutton2{
	margin-left:47.5%;
	width:5%;
	margin-top:75%;
	display:none;
}
#bf{
	position:absolute;
	width:20%;
	margin-top:45%;
	margin-left:10%;
	margin-bottom:5%;
}
a{
	color:white;
	font-family:Microsoft YaHei;
	font-weight:bold;
	text-align:center;
}
#bftext{
	position:absolute;
	margin-top:45%;
	margin-left:35%;
	width:40%;
}

#me{
	position:absolute;
	width:20%;
	margin-top:5%;
	margin-left:10%;
	margin-right:40%;
	margin-bottom:5%;
}
#metext{
	position:absolute;
	margin-top:5%;
	margin-left:35%;
	width:12%;
	height:45%;
	color:white;
}

#swbf{
	position:absolute;
	width:20%;
	margin-top:85%;
	margin-right:10%;
	margin-left:10%;
	margin-bottom:5%;
}
#swbftext{
	position:absolute;
	margin-top:85%;
	margin-left:35%;
	width:25%;
	height:40%;
	}
audio{
	width:20%;
	position:fixed;
}
#ealogo{
	position:absolute;
	margin:36% 0 0 70%;
	width:10%;
}
#dicelogo{
	position:absolute;
	margin:36% 0 0 82%;
	width:15%;
}
video{
	position:absolute;
	width:60%;
	margin-left:20%;
	margin-top:%;
}
#ad{
	margin-top:130%;
	color:white;
	font-size:100%;
	font-family:arial bold;
	text-align:center;
}
}