@charset="utf-8";
body{
	color:white;
	background-color:black;
	font-family:arial;
	margin-left:0;
	margin-right:0;
}
h1{
	margin:8% 0 2% 12%; 
	font-size:320%;
}
p{
	margin:0% 10% 0% 40%;
	line-height:1.4em;
	font-weight:bold;
}
#work{
	position:absolute;
}
#work img{
	width:50%;
	margin-left:15%;
}
h2{
	margin:0% 0 2% 11%; 
	font-size:220%;
}
.blue{
	margin:8% 0 0 0;
	background-color:#1d2527;
	padding:13px 0 13px 0;
}
ul{
	padding-left:0;
}
li{
	display:inline;
	list-style-type:none;
	margin-left:0;
	margin-right:15%;	
}
li a{
	color:white;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	}
li a:hover{
	color:#909090;
}
.img{
	margin-right:30%
}